.app-header {
}

.app-header__body {
    padding: var(--gap-md);
}

.nav {
}

.nav__logo {
}

.nav__logo img {
    width: 100%;
    display: block;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 0 var(--flex-gap);
    flex-wrap: wrap;
}

.nav__item {
}

.nav__link {
    color: inherit;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration: none;
}

.nav__link:hover,
.nav__link_current {
    color: var(--color-accent);
}

.app-options {
    cursor: pointer;
    color: inherit;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    display: none;
}

.app-options__switch {
}

.app-options__list {
    list-style-type: none;
    display: none;
}

.app-options__item {
}
