.news-line-limit {
    display: -webkit-box;
    -webkit-line-clamp: var(--news-line-limit);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-category {
    color: var(--color-accent);
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: 1.214;
    text-transform: uppercase;
}

.news-source {
    color: var(--color-grey-30);
    font-size: var(--text-md);
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
}

.news-date {
    color: var(--color-accent);
    font-size: var(--text-md);
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
}

.news-date + .news-source:before {
    content: ' • ';
}

.news-cards {
}

.news-cards__heading {
    font-size: var(--gap-3xl);
    margin-bottom: var(--gap-2xl);
}

.news-cards__box {
    display: grid;
    gap: var(--gap-2xl);
}

.news-card {
    font-size: var(--text-lg);
    line-height: 1.182;

    display: grid;
    gap: 0 var(--gap-md);
    grid-template-columns: 344px 1fr;
    grid-template-rows: auto 1fr;
}

.news-card__image {
    grid-column: 1;
    grid-row: 1 / -1;
    position: relative;
    max-height: 344px;
}

.news-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.news-card__content {
    display: grid;
    gap: var(--gap-xl) 0;
}

.news-card__category {
    grid-row: span 1;
    margin-bottom: 7px;
}

.news-card__title {
    grid-row: span 1;

    font-size: var(--text-2xl);
    line-height: 1.191;
    font-weight: 700;
}

.news-card__desc {
    grid-row: span 1;
    /*display: none;*/
}


.news-card__more {
    grid-row: span 1;
}

.news-feeds {
}

.news-feeds__heading {
    font-size: var(--gap-xl);
    margin-bottom: var(--gap-2xl);
}

.news-feeds__list {
    list-style-type: none;
    display: grid;
    gap: var(--gap-xl) 0;
}

.news-feed {
    border-left: 8px solid var(--color-primary);
    padding-left: 5px;
}

.news-feed__title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--text-md);
    line-height: 1.2;

    margin-bottom: 14px;
}

.news-feed__date {
    display: inline-block;
}

.news-feed__more {
    display: inline-block;
}

.news-feed__more:hover {
    text-decoration: none;
    color: var(--color-accent);
}

.news-feed__more:hover:before {
    color: var(--color-grey-30);
}
