.news-feed {
    border-left: 8px solid var(--color-primary);
    padding-left: 8px;
}

.news-feed__title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--text-md);
    line-height: 1.2;

    margin-bottom: 14px;
}

.news-feed__date {
    display: inline-block;
}

.news-feed__more {
    display: inline-block;
}
