.app-options {
    cursor: pointer;
    color: inherit;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    display: none;
}

.app-options__switch {
}

.app-options__list {
    list-style-type: none;
    display: none;
}

.app-options__item {
}
